body {
    display:block;
    padding:0;
    margin-left:auto;
    margin-right: auto;
    width:841px;

}
header {
    background-image: url("../img/tates.jpg");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    height: 179px;
}
nav {
    border-top: solid 1px black;
    height: 20px;
    background-color: #333;

}
nav a {
    color: white;
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    padding-right: 5px;
    padding-left: 5px;
}
nav a:hover {
    color: darkgrey;
}

nav a .active{
    margin-right: 5px;
    content: '>>';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}


nav a::before,
nav a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;

}

nav a::before {
    margin-right: 5px;
    content: '>>';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

nav a::after {
    margin-left: 5px;
    content: '<<';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

nav a:hover::before,
nav a:hover::after,
nav a:focus::before,
nav a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

section{
    background: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
#side-1 hr {
    width:90%;
}
#side-1 p {
    width: 91%;
    padding-left: 21px
}
#side-1 h3 {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

article {
    margin-left: 10px;
}


#illu {
    width:45%;
    padding-left:122px;

}
footer {
    text-align: center;
}

#one {
    font-family: 'Abel', sans-serif;
}
#two {
    font-family: 'Work Sans', sans-serif;
}
#three {
    font-family: 'Pathway Gothic One', sans-serif;
}
#four {
    font-family: 'Quicksand', sans-serif;
}
#a{
    font-family: 'Karla', sans-serif;
}
#b{
    font-family: 'Acme', sans-serif;
}
#c{
    font-family: 'Voltaire', sans-serif;
}
.d{
    font-family: 'Kavivanar', cursive
}
.yes {
    font-family: 'Work Sans', sans-serif;
}
.hellyeah {
    font-family: 'Karla', sans-serif;
}
#fuckingmedusa {
    height: 195px;
    margin-top: -181px;
    margin-left: 32px;
}
.imgimg {
    width:203px;
    border-radius: 50px;
}
.fuck {
    max-width:20%;
}

